/*! Whitebox */


/**
 * Variables
 */

// Colors
@brand-primary: #128fed;
@gray-darkest:  #222;
@gray-darker:   #333;
@gray-dark:     #363636;
@gray:          #696969;
@gray-light:    #9c9c9c;
@gray-lighter:  #cfcfcf;
@gray-lightest: #f0f0f0;


/**
 * Elements
 */

body {
	color: @gray-darker;
	font: 1em/1.25 Arial, Helvetica, sans-serif;
	text-align: left;
	letter-spacing: 0;
}

a {
	text-decoration: none;
	color: @brand-primary;
	
	&:hover {
		text-decoration: underline;
	}
}


em {
	font-style: italic;
}

img,
iframe,
object,
embed {
	max-width: 100%;
}

img {
	vertical-align: top;
	height: auto;
}

a img {
	border: none;
}

ul,
ol {
	padding: 0 0 0 1.5em;
	margin: .5em 0;
}

nav {
	ul,
	ol {
		list-style: none;
		padding: 0;
		margin: 0;	
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 0 0 .5em;
	padding: 0;
	color: @gray-dark;
}

h1 {
	font-size: 2.25em; //28px;
	line-height: 1.15;
}

h2 {
	font-size: 1.75em; //24px;
	line-height: 1.17;
}

h3 {
	font-size: 1.25em; //20px;
	line-height: 1.2;
}

h4 {
	font-size: 1.125em; //16px;
	line-height: 1.25;
}

h5 {
	font-size: 1em; //14px;
	line-height: 1.29;
}

h6 {
	font-size: .875em; //12px;
	line-height: 1.33;
}

hr {
	display: block;
	height: 1px;
	border: none;
	background: @gray-lighter;
	margin: 1em 0;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 10px;
	font-style: italic;
}

pre {
	background: @gray-lightest;
	border: 1px solid @gray-lighter;
	padding: 10px;
}


/*
 * Input and Forms
 */

input,
button,
textarea,
select,
.button {
	font-family: inherit;
	-webkit-border-radius: 0;
	-moz-border-radius:    0;
	border-radius:         0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	line-height: inherit;
}

/* Buttons */
input[type=button],
input[type=submit],
input[type=reset],
button,
.button {
	background: @gray-dark;
	color: #fff;
	border: none;
	padding: 6px 8px;
	width: auto;

	&:hover {
		background: @brand-primary;
		text-decoration: none;
	}
}

.button {
	display: inline-block;
}

/* Text Inputs */
input[type=text],
input[type=password],
input[type=file],
input[type=email],
input[type=number],
input[type=search],
input[type=tel],
input[type=url],
textarea,
select {
	background-color: #fff;
	color: @gray;
	border: 1px solid @gray-lighter;
	line-height: inherit;
	padding: 5px;
	margin-bottom: .5em;
	max-width: 100%;

	&:focus {
		border-color: @gray-light;
		color: @gray-dark;
	}

	&[disabled] {
		background: @gray-lightest;
	}
}

textarea {
	resize: vertical;
}

select {
	padding: 3px;
}

input[type=checkbox],
input[type=radio] {
	margin-bottom: .5em;

	& + label {
		margin-left: .25em;
	}
}

fieldset {
	border-color: @gray-lighter;
	margin-bottom: .5em;
}


/*
 * Utility Classes
 */

/* Micro Clearfix */
.cf {
	*zoom: 1; /* IE */

	&:before,
	&:after {
		content: '';
		display: table;
		visibility: hidden;
		line-height: 0;
	}

	&:after {
		clear: both;
	}
}

.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	border: 0px none;
}

.alignleft,
.alignright {
	max-width: 47.5%;
}

.aligncenter {
	display: block;
	margin: .25em auto;
}

.alignleft {
	float: left;
	margin: .25em 2.5% .25em 0;
}

.alignright {
	float: right;
	margin: .25em 0 .25em 2.5%;
}

.floatleft,
.more_left {
	float: left;
}

.floatright {
	float: right;
}


/*
 * Page Structure
 */

#page {
	width: 100%;
	min-height: 200px;
	margin: 0 auto;
}

.wrap {
	overflow: hidden;
}

.row {
	margin: 0 auto;
	width: 96%;
	max-width: 960px;
	padding: .75em 0;
}


/*
 * Header
 */

#header-wrap {
	overflow: visible;
}

#header {
	padding: 0;
}

#logo {
	text-align: center;
	padding: .45em 0;
}

#site-title {
	margin: 0;

	a {
		display: block;
		color: @gray-darkest;

		&:hover {
			text-decoration: none;
		}
	}
}

#site-description {
	font-weight: bold;
	color: @gray-light;
	display: block;
	margin: 0;
}


/*
 * Menus
 */

#primary-nav-button {
	text-align: center;
	clear: left;
	display: none;
	text-decoration: none;
	color: @gray-dark;
	font-size: 0;

	&:before {
		content: '\2261';
		font-size: 40px;
		line-height: 1;
	}

	&.mobile {
		display: block;
	}
}

.menu {
	text-align: left;
}

.menu .menu-item {
	position: relative;
	float: left;
	margin-right: 1em;

	&:last-child {
		margin-right: 0;
	}

	a {
		display: block;
		line-height: 1;
	}
}

.menu .sub-menu {
	display: none;
	position: relative;
	left: 0;
	min-width: 10em;
	z-index: 200;

	.menu-item {
		width: 100%;
	}
}

.menu .sub-menu,
#primary-nav.mobile .menu {
	background: #f8f8f8;
}

#top-nav .menu-item {
	padding: 3px 0;
}

#menu-wrap {
	position: relative;
}

#primary-nav {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: auto;
	font-size: 1.15em;

	.menu-item {
		font-weight: bold;
		float: left;

		a {
			color: @gray;
			padding: 10px 0;
			text-decoration: none;
		}

		&> a:hover,
		&.selected > a,
		&.current-menu-item > a {
			color: @gray-dark;
		}
	}

	.sub-menu {
		position: absolute;

		.menu-item a {
			padding: 10px;
		}
	}

	.menu .downarrow {
		display: inline-block;
		line-height: 1;
		font-size: inherit;
		font-style: normal;
		font-weight: normal;
		font-family: sans-serif;
		color: inherit;

		&:before {
			content: '\25be';
		}
	}

	&.mobile .menu .downarrow,
	&:not(.mobile) .menu .sub-menu .downarrow {
		position: absolute;
		right: 0;
		top: 0;
	}

	&:not(.mobile) {
		.menu {
			&> .menu-item .downarrow {
				margin-left: .25em;
			}

			.sub-menu .downarrow {
				padding: 10px;
				transform: rotate(-90deg);
			}
		}
	}

	&.mobile {
		display: none;
		position: absolute;
		background: #fff;
		width: 100%;
		z-index: 200;

		.menu-item {
			float: none;
			margin: 0;

			a {
				padding: 5%;
			}
		}

		.sub-menu {
			position: relative;

			.menu-item a {
				padding-left: 8%;
			}

			.sub-menu {
				.menu-item a {
					padding-left: 11%;
				}

				.sub-menu .menu-item a {
					padding-left: 14%;
				}
			}
		}

		.menu .downarrow {
			padding: 5%;
			cursor: default;
			font-size: 1.33333em;
			line-height: .75;
			vertical-align: -15%;
		}
	}
}


/*
 * Content
 */


/*
 * Main
 */


/*
 * Posts and Pages
 */

#main ul.posts {
	list-style: none;
	margin: 0;
	padding: 0;
}

#main .posts .post {
	margin-bottom: 1em;
}

.entry-image {
	margin-bottom: .5em;
}

.entry-title {
	line-height: 1.1;
	margin-bottom: .25em;
}

.entry-title a {
	display: block;
	overflow: hidden;

	&:hover {
		text-decoration: none;
	}
}

.entry-meta {
	margin: 0 0 .8em;
	color: @gray;
	font-size: .875em;
	display: block;
}

.entry-content {
	p {
		line-height: 1.45;
	}

	blockquote {
		font-style: italic;
		font-size: 1.15em;
		margin: 1em;
		color: @gray;
	}

	blockquote cite {
		font-size: 85%;
		font-style: normal;
		display: inline-block;
	}

	blockquote p {
		line-height: 1.25;
	}

	blockquote.pullquote {
		float: right;
		width: 33%;
		margin: 0.25em 0.25em 0.25em 1em;
	}

	blockquote.pullquote p {
		margin: 0.5em 0;
	}

	.wp-caption-text,
	.gallery-caption {
		color: @gray;
		font-size: .875em;
		line-height: 1.2;
		text-align: center;
		margin: .45em 0;
	}
}

/* Author Page */

.author-card {
	margin-bottom: 1em;
}

.author-avatar {
	float: left;
	margin-right: 2%;
}

.author-links {
	float: left;
	clear: left;
	margin-top: .5em;
}

.author-links ul {
	margin: 0;
	padding: 0;
}

.author-links li {
	float: left;
	list-style: none;
	margin-left: .5em;

	&:first-child {
		margin-left: 0;
	}
}


/**
 * Comments
 */

.comment-list,
.comment .children {
	list-style: none;
	margin: 0;
	padding: 0;
}

.comment-body {
	margin-bottom: .75em;
}

.bypostauthor > .comment-body {
	background: @gray-lightest;
}

.comment-avatar {
	float: left;
	margin-right: 2%;
}

.comment-author {
	font-weight: bold;
	color: @gray-dark;
}

.comment-meta,
.comment .reply {
	font-size: .875em;
}

.bypostauthor > .comment-body .comment-content {
	padding: .45em;
}

.comment .children {
	margin-left: 5%;
}

.comment-navigation .nav-previous > a,
.comment-navigation .nav-next > a {
	display: inline-block;
	padding: 5px 0;
}

.comment-navigation {
	margin-bottom: .45em;
}

.comment-navigation .nav-previous {
	float: left;
}

.comment-navigation .nav-next {
	float: right;
}

.comment-form label {
	display: block;
	margin-bottom: .25em;
	font-weight: bold;
	color: @gray-dark;
}

.comment-form .required {
	color: @gray;
	font-size: 90%;
	font-weight: normal;
}


/*
 * Sidebars
 */

#sidebar {
	padding-top: 1.5em;
}

#sidebar .widget {
	margin-top: 1.5em;

	&:first-child {
		margin-top: 0;
	}
}


/*
 * Widgets
 */

.widget {
	&> ul {
		padding: 0;
	}

	ul {
		list-style: none;
		margin: 0;
	}
}


/*
 * Search form
 */

.search-form {
	display: table;
	width: 100%;

	& > span {
	  display: table-cell;
	}

	& > span:last-child {
	  width: 1px;
	}

	.search-label {
		display: none;
	}

	.search-field {
	  width: 100%;
	  margin: 0;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	}

	.search-submit {
		margin-left: .45em;
	}
}

.page-404-not-found .search-form,
.page-search-results .search-form {
	max-width: 400px;
}


/*
 * Footer
 */

#pre-footer .column {
	margin-top: 1.5em;

	&:first-child {
		margin-top: 0;
	}
}

#footer .footer-text {
	text-align: center;
}

#footer-menu-wrap {
	text-align: center;
}

#footer-nav {
	display: inline-block;
	margin: 0 auto;
}


/* Wider than 480px */
@media screen and (min-width: 481px) {

#logo {
	float: left;
	display: inline;
	text-align: left;
	margin-right: 1em;
}

#menu-wrap {
	float: left;
}

#footer .footer-text {
	display: inline-block;
	text-align: left;
}

#footer-menu-wrap {
	margin: 0;
	float: right;
	text-align: left;
}

}

/* Wider than 560px */
@media screen and (min-width: 541px) {

#sidebar {
	padding-top: 20px;
}

#pre-footer.four-column .column,
#sidebar .widget {
	float: left;
	width: 48%;
	margin-right: 4%;
	margin-top: 0;
	vertical-align: top;
}

#pre-footer.four-column .column:nth-child(2n),
#sidebar .widget:nth-child(2n) {
	margin-right: 0;
}

#pre-footer.four-column .column:nth-child(n+3),
#sidebar .widget:nth-child(n+3) {
	margin-top: 4%;
}

#main .posts .post .entry-image {
	float: left;
	margin-right: 2%;
	margin-bottom: 0;
	max-width: 48%;
}

}

/* Wider than 770px */
@media screen and (min-width: 771px) {

#main {
	width: 65.625%;
	float: left;
}

#main.wide {
	width: 100%;
}

#main.wide .posts .post .entry-image {
	max-width: 31.25%;
}

#sidebar {
	float: right;
	width: 31.25%;
	font-size: inherit;
	padding-top: 0;
}

#sidebar .widget {
	width: 100%;
	margin-right: 0;
	margin-top: 1.5em !important;
}

#sidebar .widget:first-child {
	margin-top: 0 !important;
}

}

/* Wider than 850px */
@media screen and (min-width: 851px) {

#pre-footer.four-column .column {
	width: 23.5%;
	margin-right: 2% !important;
	margin-top: 0 !important;
}

#pre-footer.four-column .column:nth-child(4n) {
	margin-right: 0 !important;
}

}
